<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allstarxi.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.allstarxi.app.StartScreenActivity"
            android:label="Sign Up" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.allstarxi.app.ProfileSetupActivity"
            android:label="@string/title_activity_profile_setup" >
        </activity>
        <activity
            android:name="com.allstarxi.app.FavoriteTeamActivity"
            android:label="@string/title_activity_favorite_team" >
        </activity>
        <activity
            android:name="com.allstarxi.app.EmailSignUpActivity"
            android:label="@string/title_activity_email_sign_up" >
        </activity>
        <activity
            android:name="com.allstarxi.app.AutoDraftStep1Activity"
            android:label="@string/title_activity_auto_draft_step1" >
        </activity>
        <activity
            android:name="com.allstarxi.app.AutoDraftStep2Activity"
            android:label="@string/title_activity_auto_draft_step2" >
        </activity>
        <activity
            android:name="com.allstarxi.app.AutoDraftStep3Activity"
            android:label="@string/title_activity_auto_draft_step3" >
        </activity>
        <activity
            android:name="com.allstarxi.app.TeamPageActivity"
            android:label="@string/title_activity_team_page" >
        </activity>
        <activity
            android:name="com.allstarxi.app.TransfersActivity"
            android:label="@string/title_activity_transfers" >
        </activity>
        <activity
            android:name="com.allstarxi.app.LeaguesActivity"
            android:label="@string/title_activity_leagues" >
        </activity>
        <activity
            android:name="com.allstarxi.app.FixturesActivity"
            android:label="@string/title_activity_fixtures" >
        </activity>
    </application>

</manifest>
